body {
	background-image: repeating-linear-gradient(
		to right,
		#ccddcc,
		#ccddcc 20px,
		#99aa99 20px,
		#99aa99 40px);
	margin: 0;
	padding: 0;
	font-family: Economica, Arial, sans-serif;
}

header {
	background-color: #321c20;
	color: #cfb53b;
	font-size: 3em;
	text-align: center;
	padding: 5px;
	font-family: Gabriela, "Times New Roman", serif;
}

footer {
	background-color: #321c20;
	color: #cfb53b;
	font-size: 1.5em;
	padding: 5px 0 5px 10px;
	font-family: Gabriela, "Times New Roman", serif;
}

main {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.main-menu {
	background-color: #321c20;
	color: #cfb53b;
	font-size: 1.5em;
	width: 100%;
}

.menu-toggle {
	text-align: right;
	padding: 0 10px 5px 0;
}

ul.toggle-items {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.nest-menu {
	margin: 0 0 0 10px;
	padding: 0;
	list-style-type: none;
}

ul.toggle-items li {
	border-top: 1px solid #cfb53b;
	padding: 0 0 0 10px;
}

ul.menu-items li {
	display: none;
}

li.menu-link:hover {
	background-color: #cfb53b;
	color: #321c20;
}

.hall-item, .history-item {
	display: none;
}

.feed-post, .story-post {
	margin: auto;
	background-color: white;
	font-size: 1.2em;
	border-bottom: 5px solid #321c20;
}

.article-feed {
	border-top: 5px solid #321c20;
	min-height: 500px;
	background-color: #ffffff;
}

.feed-post:hover {
	background-color: #f3fff3;
}

.feed-heading {
	font-size: 1.5em;
	background-color: #cfb53b;
	color: #321c20;
	padding: 0 0 0 10px;
	border-bottom: 1px solid #321c20;
}

.feed-body {
	padding: 5px 10px;
}

.feed-icon {
	height: 30px;
	vertical-align: text-bottom;
}
.header-icon {
	height: 30px;
}
.text-icon {
	height: 20px;
}
.poll-icon {
	height: 15px;
	vertical-align: text-bottom;
}
.table-icon {
	height: 15px;
}
.banner-icon {
	height: 45px;
	vertical-align: text-bottom;
}

.post-title {
	font-size: 1.5em;
}

.menu-link {
	color: #cfb53b;
	text-decoration: none;
}
.menu-link:hover {
	text-decoration: underline;
}
.menu-link:visited {
	color: #cfb53b;
}

.post-link {
	color: #9c8208;
}
.post-link:hover {
	font-weight: bold;
}
.post-link:visited {
	color: #cfb53b;
}

.standard-link {
	color: #9c8208;
	text-decoration: none;
}
.standard-link:hover {
	text-decoration: underline;
}
.standard-link:visited {
	color: #cfb53b;
}

.table-link {
	color: #321c20;
	text-decoration: none;
}
.table-link:hover {
	text-decoration: underline;
}
.table-link:visited {
	color: #987f86;
}

.page-template {
	background-color: white;
	margin: 0;
	padding: 10px 5%;
	font-size: 1.2em;
	min-height: 600px;
}

.feed-template {
	background-color: white;
	margin: 0;
}

.heading-only {
	background-color: white;
	margin: 0;
	padding: 10px 5%;
	font-size: 1.2em;
	text-align: justify;
}

h1 {
	margin: 0;
	padding: 5px 0;
	text-align: center;
}

h2 {
	margin: 0;
	padding: 5px 0;
	text-align: center;
	clear: both;
}

h3 {
	margin: 0;
	padding: 5px 0;
	text-align: left;
}

.inline-heading {
	padding-top: 0px;
}

p {
	text-align: justify;
}

.poll-contender {
	margin: 5px 0;
	padding: 5px 0;
	border-top: 2px solid #321c20;
	text-align: justify;
}

.poll-contender:first-of-type {
	border-top: none;
}

.contender-head, .sub-heading {
	font-size: 1.2em;
}

table.poll-choices {
	width: 100%;
    table-layout: auto;
	border-collapse: collapse;
}

table.poll-choices tr {
	border-top: 1px solid #321c20;
}

table.poll-choices tr:last-of-type {
	border-bottom: 1px solid #321c20;
}

table.poll-choices td {
	padding: 0 0 0 5px;
	max-width:100%;
	white-space:nowrap;
}

td.progress-bar {
	width: 100%;
	height: 100%;
}

.progress-box {
	height: 100%;
	background-color: #dddddd;
	border-radius: 5px;
} 

.progress-fill {
	height: 100%;
	background-color: #cfb53b;
	border-radius: 5px;
	padding: 0;
}

.percentage {
	padding-left: 5px;
}
 
.election-place {
	background-color: #bbeebb;
}

.vote-button {
	background-color: #3366ff;
	color: white;
	border-radius: 5px;
	text-align: center;
	padding: 0 5px;
	margin: 0 0 3px 0;
	border: 1px solid #0033cc;
}

.vote-button:hover {
	background-color: #ccddff;
	color: #0033cc;
	border: 1px solid #003399;
}

.hidden {
	display: none;
}

.info-page {
	text-align: left;
	margin-top: 10px;
}

.sub-menu {
	margin-bottom: 10px;
}

.sub-menu h2 {
	text-align: left;
}

h1.info-page:first-of-type {
	margin-top: 0;
}

.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	clear: both;
}

.flex-item {
	flex: 1;
	flex-basis: 50%;
	text-align: left;
}

.person-stats {
	margin: 20px 0 0 0;
	text-align: left;
}

.personal-details {
	overflow: auto;
}

.hall-status {
	font-size: 1.5em;
	color: #cfb53b;
	font-weight: bold;
	margin: 10px 0;
}

.rating-bar {
	margin-top: 5px;
	color: #000000;
}


.rating-buttons {
	display: inline-block;
}

.rating-block {
	display: inline-block;
	width: 20px;
	height: 25px;
	background-color: #cfb53b;
	border: 1px solid #9c8208;
	border-radius: 50%;
	text-align: center;
	font-size: 0.7em;
}

.rating-block:hover {
	background-color: #321c20;
	color: #cfb53b;
}

.rating-block input[type="submit"] {
	border: 0;
	padding: 0;
	font-family: Economica, Arial, sans-serif;
	font-size: 1em;
}

.portrait-frame {
	margin-right: 10px;
	float: left;
	border: 2px solid #321c20;
	color: #cfb53b;
}

.small-frame {
	margin-left: 10px;
	float: right;
	border: 2px solid #321c20;
	color: #cfb53b;
}

.team-picture-frame {
	border: 2px solid #321c20;
	color: #cfb53b;
	margin: 10px auto 0 auto;
	max-width: 600px;
}

.portrait {
	display: block;
	max-width: 100px;
}
.small-portrait {
	display: block;
	height: 100px;
}

.team-picture {
	display: block;
	width: 100%;
	float: left;
}

.copyright-info {
	background-color: #321c20;
	padding: 2px;
	font-size: 0.8em;
	clear: both;
}

.copyright-info-small {
	background-color: #321c20;
	padding: 2px;
	font-size: 0.7em;
	clear: both;
}

.biography {
	clear: both;
}

.biography p {
	margin: 0;
	clear: both;
}

.bullet-point {
	font-weight: bold;
}

.tournament-list {
	border-collapse: collapse;
	margin: 10px auto;
}

.tournament-list td, th {
	padding: 2px 5px;
	text-align: center;
}

.tournament-list td:first-of-type, th:first-of-type {
	padding: 2px 10px 2px 2px;
}

.profile-content {
	margin: 10px 0;
}

.year-head {
	background-color: #666666;
	color: white;
}

.host-head {
	background-color: #666666;
	color: white;
	min-width: 70px;
}

.winner-head {
	background-color: #ffcc00;
	min-width: 70px;
}
.runner-up-head {
	background-color: #cccccc;
	min-width: 70px;
}
.winner-cell {
	background-color: #ffeedd;
	min-width: 70px;
}
.runner-up-cell {
	background-color: #eeeeee;
	min-width: 70px;
}

.read-link {
	text-align: right;
}

.tags {
	margin-top: 10px;
}

.tag {
	margin: 1px 5px 1px 0;
	padding: 0 5px;
	background-color: #cfb53b;
	border: 1px solid #9c8208;
	display: inline-block;
	border-radius: 10px;
}
.tag:hover {
	background-color: #321c20;
	color: #cfb53b;
}
.tag-link {
	text-decoration: none;
	color: #321c20;
}

.honour-details {
	display: inline-block;
	padding: 0 5px 0 0;
	white-space: nowrap;
}

.medal {
	width: 15px;
}

.competition_honours {
	text-align: left;
}

.admin-wrapper {
	margin: 5px 0;
	overflow: auto;
	background-color: #cfb53b;
	border: 2px solid #321c20;
	border-radius: 10px;
}

.left-section h3{
	text-align: center;
}

.right-section {
	float: right;
	width: 50%;
	text-align: center;
}

.admin-link-box {
	padding: 5px 0;
	border-bottom: 1px solid #321c20;
}

.admin-link-box:hover {
	background-color: #321c20;
	color: #cfb53b;
	border-bottom: 1px solid #cfb53b;
}

div.admin-link-box:last-of-type {
	border-bottom: none;
}

.admin-head {
	height: 100%;
}

.admin-link {
	color: #321c20;
	text-decoration: none;
}
.admin-link:visited {
	color: #321c20;
}
.admin-link:hover {
	color: #cfb53b;
	text-decoration: underline;
}

.data-table {
	margin: 10px 0;
	width: 100%;
	background-color: #cfb53b;
	border-collapse: collapse;
}

.data-table th {
	text-align: left;
}

.data-table thead {
	background-color: #321c20;
	color: #cfb53b;	
}

.data-table tr:nth-of-type(even) {
	background-color: #ffe86e;
}

.data-table th, td {
	padding: 3px;
}

.button-cell {
	text-align: center;
}

.admin-button {
	padding: 0 5px;
	background-color: #66cc66;
	border: 1px solid #339933;
	border-radius: 5px;
	color: white;
}

.button-link {
	color: white;
	text-decoration: none;
}

.button-link:hover {
	text-decoration: underline;
}

.formatted-text p {
	margin: 0;
}

.centre-text {
	text-align: center;
}

.empty-list {
	margin-top: 20px;
}

.cms-link {
	color: #9c8208;
	text-decoration: none;
}
.cms-link:hover {
	text-decoration: underline;
}
.cms-link:visited {
	color: #9c8208;
}

.edit-form {
	margin: 10px 0;
}
.submit-button {
}

@font-face {
    font-family: DotMatrix;
    src: url('../fonts/Dot Matrix 1.ttf');
    font-weight: normal;
    font-style: normal;
}
.scoreboard {
	font-family: DotMatrix;
	background-color: black;
	color: white;
    font-size: 1.25em;
    margin: 0 auto;
    font-weight: normal;
	border: 5px solid #cfb53b;
    border-collapse: collapse;
    padding: 0;
}
.scoreboard td {
	padding: 7px 5px 0 8px;
	border: 1px solid #cfb53b;
}
.score-details {
	text-align: center;
	font-size: 0.9em;
}
.match-details {
	text-align: center;
	margin: 5px 0;
}

.line-ups  {
	width: 100%;
}
.line-ups th, .line-ups td {
	width: 50%;
}
.team-shirt {
	text-align: center;
}
.team-shirt img {
	width: 100px;
}
.line-up-shirt {
	height: 30px;
	vertical-align: text-bottom;
	margin: 2px 2px 0 2px;
}
.team-1 {
	text-align: right;
	vertical-align: top;
}
.team-2 {
	text-align: left;
	vertical-align: top;
}
.hidden {
	display: none;
}

.player-summary {
	margin: 5px 0;
}

.position-diagram {
	float: left;
	margin: 0 10px 10px 0;
	height: 200px;
}

.formation-diagram {
	display: block;
	width: 100%;
	float: left;
	margin: 10px 0;
}

/* Styles for displaying lightbox images. */
.lights-down {
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	left: 0;
}
.full-image {
	max-width: 75%;
	max-height: 90%;
}
.full-image img {
	max-width: 75%;
	max-height: 90%;
	border: 5px solid white;
	box-shadow: 0px 0px 5px 5px #999999;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
#box-closer {
	position: absolute;
	right: 20px;
	font-weight: bold;
	font-size: 3.5em;
	color: #999999;
	cursor: pointer;
}

.dream-team-member {
	margin: 0 0 20px 0;
}

.dream-team-member p {
	margin: 0;
}

.dream-team-member h3 {
	padding-top: 0;
}

.dream-team-position {
	font-size: 1.25em;
	font-weight: bold;
}

.right-text {
	text-align: right;
}

.pagination {
	width: 100%;
	background-color: #cfb53b;
}

.pagination table {
	margin: auto;
	padding: 10px;
}

.pagination td {
	margin: 10px auto;
	background-color: #321c20;
	color: #f4e6a5;
	text-align: center;
	padding: 10px;
	margin: 0 0 3px 0;
	font-size: 1.5em;
	border: 1px solid #000900;
}

.pagination td:first-of-type {
	border-radius: 10px 0 0 10px;
}
.pagination td:last-of-type {
	border-radius: 0 10px 10px 0;
}

.pagination-link {
	color: #f4e6a5;
	text-decoration: none;
}

.pagination-link:hover {
	text-decoration: underline;
}

td.current-page {
	color: #321c20;
	background-color: #f4e6a5;
	font-weight: bold;
}

.results-table {
	border-collapse: collapse;
}
.table-member {
	background-color: #321c20;
	color: #f4e6a5;
}
.table-link {
	color: #f4e6a5;
	text-decoration: none;
}
.table-link:hover {
	text-decoration: underline;
}
.table-link:visited {
	color: #f4e6a5;
}
