body {
	background-image: repeating-linear-gradient(
		to right,
		#ccddcc,
		#ccddcc 20px,
		#99aa99 20px,
		#99aa99 40px);
	margin: 0;
	padding: 0;
}

header {
	background-color: #321c20;
	color: #cfb53b;
	font-size: 3em;
	text-align: center;
	padding: 10px;
}
