body {
	background-image: repeating-linear-gradient(
		to right,
		#ccddcc,
		#ccddcc 20px,
		#99aa99 20px,
		#99aa99 40px);
	margin: 0;
	padding: 0;
	font-family: Economica, Arial, sans-serif;
}

header {
	background-color: #321c20;
	color: #cfb53b;
	font-size: 3em;
	text-align: center;
	padding: 5px;
	font-family: Gabriela, "Times New Roman", serif;
}

.main-menu {
	background-color: #321c20;
	color: #cfb53b;
	font-size: 1.5em;
	width: 100%;
}

.menu-toggle {
	text-align: right;
	padding: 0 10px 5px 0;
}
